<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>

    <add key="Log" value="C:\Users\Desarrollo_Mike\Desktop\RichiLucas\"/>
    
    <!--IPs ServidoresMI-->
    <add key="TepozotlanIP" value="10.1.1.87"/>
    <add key="TepozotlanRuta" value="sads"/>
    <add key="JorobasIP" value="10.3.21.221"/>
    <add key="JorobasRuta" value="z:"/>
    <add key="PolotitlanIP" value="10.3.22.221"/>
    <add key="PolotitlanRuta" value="z:"/>
    <add key="PalmillasIP" value="10.3.23.221"/>
    <add key="PalmillasRuta" value="z:"/>
    <add key="ChichemequillasIP" value="10.3.24.221"/>
    <add key="ChichemequillasRuta" value="z:"/>
    <add key="QueretaroIP" value="10.3.25.221"/>
    <add key="QueretaroRuta" value="z:"/>
    <add key="LibramientoIP" value="10.3.27.221"/>
    <add key="LibramientoRuta" value="z:"/>
    <add key="VillaGrandIP" value="10.3.28.221"/>
    <add key="VillaGrandRuta" value="z:"/>
    <add key="CerroGordoIP" value="10.3.29.221"/>
    <add key="CerroGordoRuta" value="z:"/>
    <add key="SalamancaIP" value="10.3.30.221"/>
    <add key="SalamancaRuta" value="z:"/>

    <!--IPs ServidoresMA-->
    <add key="AlpuyecaIP" value="10.1.1.87"/>
    <add key="AlpuyecaRuta" value="awd2qd"/>
    <add key="PasoMorelosIP" value="10.4.162.221"/>
    <add key="PasoMorelosRuta" value="z:"/>
    <add key="PaloBlancoIP" value="10.4.163.221"/>
    <add key="PaloBlancoRuta" value="z:"/>
    <add key="LaVentaIP" value="10.4.164.221"/>
    <add key="LaVentaRuta" value="z:"/>
    <add key="XochitepecIP" value="10.4.165.221"/>
    <add key="XochitepecRuta" value="\\10.4.165.221\geaint"/>
    <add key="AeropuertoIP" value="10.4.166.221"/>
    <add key="AeropuertoRuta" value="z:"/>
    <add key="EmilianoZapataIP" value="10.4.167.221"/>
    <add key="EmilianoZapataRuta" value="z:"/>
    <add key="TlalpanIP" value="10.4.168.223"/>
    <add key="TlalpanRuta" value="z:"/>
    <add key="TresMariasIP" value="10.4.169.227"/>
    <add key="TresMariasRuta" value="\\10.4.169.227\\GEAINT"/>
    <add key="FranciscoVelazcoIP" value="10.4.184.221"/>
    <add key="FranciscoVelazcoRuta" value="z:"/>

    <!--IPs Bases WS MI-->
    <add key="Qro_IP_79" value="10.3.25.111"/>
    <add key="CG_IP_79" value="10.3.29.111"/>
    <add key="Lib_IP_79" value="10.3.27.111"/>
    <add key="VG_IP_79" value="10.3.28.111"/>
    <add key="TP_IP_79" value="10.3.20.111"/>
    <add key="JO_IP_79" value="10.3.21.111"/>
    <add key="PA_IP_79" value="10.3.23.111"/>
    <add key="PO_IP_79" value="10.3.22.111"/>
    <add key="CHI_IP_79" value="10.3.24.111"/>
    <add key="SA_IP_79" value="10.3.30.111"/>
    <!--IPs Bases WS MA-->
    <add key="Al_IP_79" value="10.4.161.179"/>
    <add key="PsM_IP_79" value="10.4.162.179"/>
    <add key="PaB_IP_79" value="10.4.163.179"/>
    <add key="LaV_IP_79" value="10.4.164.179"/>
    <add key="Xo_IP_79" value="10.4.165.179"/>
    <add key="Ae_IP_79" value="10.4.166.179"/>
    <add key="EmZ_IP_79" value="10.4.167.179"/>
    <add key="Tl_IP_79" value="10.4.168.179"/>
    <add key="TrM_IP_79" value="10.4.169.179"/>
    <add key="FrV_IP_79" value="10.4.184.179"/>

    <!--Nombre base datos donde esta la ultima transaccion Mex-Ira-->
    <add key="QueretaroNom" value="Your name database"/>
    <add key="CerroGordoNom" value="Your name database"/>
    <add key="LibramientoNom" value="Your name database"/>
    <add key="VillaGrandNom" value="Your name database"/>
    <add key="TepozotlanNom" value="Your name database"/>
    <add key="JorobasNom" value="Your name database"/>
    <add key="PalmillasNom" value="Your name database"/>
    <add key="PolotitlanNom" value="Your name database"/>
    <add key="ChichimequillasNom" value="Your name database"/>
    <add key="SalamancaNom" value="Your name database"/>
    <!--IPs Bases WS MA-->
    <add key="AlpuyecaNom" value="PROSIS"/>
    <add key="PasoMorelosNom" value="Your name database"/>
    <add key="PaloBlancoNom" value="Your name database"/>
    <add key="LaVentaNom" value="Your name database"/>
    <add key="XochitepecNom" value="PROSIS"/>
    <add key="AeropuertoNom" value="Your name database"/>
    <add key="EmilianoZapataNom" value="Your name database"/>
    <add key="TlalpanNom" value="Your name database"/>
    <add key="TresMariasNom" value="Your name database"/>
    <add key="FranciscoVelazcoNom" value="Your name database"/>

  </appSettings>

  <connectionStrings>
    <!--Bases de datos Listas-->
    <!--String global, en la plaza que se instale ponga aqui el string de conexion donde este la tabla listas-->
    <add name="Global" connectionString="Data Source=DESKTOP-E3A0097\MSSQLSERVER01;Initial Catalog=Listas;Integrated Security=True"/>

    <add name="TepozotlanL" connectionString="Data Source=DESKTOP-E3A0097\MSSQLSERVER01;Initial Catalog=Listas;Integrated Security=True"/>
    <add name="TepozotlanW" connectionString="Data Source=LISTASNEW;Initial Catalog=ProsisDBv1_1;Integrated Security=True"/>
    <add name="JorobasL" connectionString="YourConnectionString"/>
    <add name="JorobasW" connectionString="YourConnectionString"/>
    <add name="PolotitlanL" connectionString="YourConnectionString"/>
    <add name="PolotitlanW" connectionString="YourConnectionString"/>
    <add name="PalmillasL" connectionString="YourConnectionString"/>
    <add name="PalmillasW" connectionString="YourConnectionString"/>
    <add name="ChichimequillasL" connectionString="YourConnectionString"/>
    <add name="ChichimequillasW" connectionString="YourConnectionString"/>
    <add name="QueretaroL" connectionString="YourConnectionString"/>
    <add name="QueretaroW" connectionString="YourConnectionString"/>
    <add name="LibramientoL" connectionString="YourConnectionString"/>
    <add name="LibramientoW" connectionString="YourConnectionString"/>
    <add name="VillaGrandeL" connectionString="YourConnectionString"/>
    <add name="VillaGrandeW" connectionString="YourConnectionString"/>
    <add name="CerroGordoL" connectionString="YourConnectionString"/>
    <add name="CerroGordoW" connectionString="YourConnectionString"/>
    <add name="SalamancaL" connectionString="YourConnectionString"/>
    <add name="SalamancaW" connectionString="YourConnectionString"/>
    <add name="AlpulyecaL" connectionString="Data Source=10.4.161.179,1433;Network Library=DBMSSOCN;Initial Catalog=Listas;User ID=SA;Password=CAPUFE;"/>
    <add name="AlpulyecaW" connectionString="Data Source=10.4.161.179,1433;Network Library=DBMSSOCN;Initial Catalog=PROSIS;User ID=SA;Password=CAPUFE;"/>
    <add name="PasoMorelosL" connectionString="YourConnectionString"/>
    <add name="PasoMorelosW" connectionString="YourConnectionString"/>
    <add name="PaloBlancoL" connectionString="YourConnectionString"/>
    <add name="PaloBlancoW" connectionString="YourConnectionString"/>
    <add name="LaVentaL" connectionString="YourConnectionString"/>
    <add name="LaVentaW" connectionString="YourConnectionString"/>
    <add name="XochitepecL" connectionString="Data Source=10.4.165.179,1433;Network Library=DBMSSOCN;Initial Catalog=Listas;User ID=SA;Password=CAPUFE;"/>
    <add name="XochitepecW" connectionString="Data Source=10.4.165.179,1433;Network Library=DBMSSOCN;Initial Catalog=PROSIS;User ID=SA;Password=CAPUFE;"/>
    <add name="AeropuertoL" connectionString="YourConnectionString"/>
    <add name="AeropuertoW" connectionString="YourConnectionString"/>
    <add name="EmilianoZapataL" connectionString="YourConnectionString"/>
    <add name="EmilianoZapataW" connectionString="YourConnectionString"/>
    <add name="TlalpanL" connectionString="Data Source=.;Initial Catalog=Listas;Integrated Security=True"/>
    <add name="TlalpanW" connectionString="Data Source=.;Initial Catalog=ProsisDBv1_1;Integrated Security=True"/>
    <add name="TresMariasL" connectionString="YourConnectionString"/>
    <add name="TresMariasW" connectionString="YourConnectionString"/>
    <add name="FranciscoVelazcoL" connectionString="YourConnectionString"/>
    <add name="FranciscoVelazcoW" connectionString="YourConnectionString"/>
  </connectionStrings>
</configuration>
